<template>
    <div>

        <label class="col-form-label col-form-label-sm cursor-pointer" v-on:click="updateValue(value)">
            <i v-if="negative" class="far mr-1" :class="{'fa-square': value, 'fa-check-square': !value}"></i>
            <i v-else class="far mr-1" :class="{'fa-square': !value, 'fa-check-square': value}"></i>
            <span v-html="label"></span>
        </label>

        <p class="invalid-feedback d-block m-0" v-if="error" v-html="error"></p>
    </div>
</template>

<script>
    export default {
        name: 'SelectInputComponent',
        props: ['value', 'label', 'error', 'id', 'negative'],
        methods: {
            updateValue(value) {
                value = !value;
                this.$emit('input', value);
            }
        }
    };
</script>
