<template>
    <div class="form-group">
        <label v-if="label" :for="id" v-html="label"></label>

        <date-picker v-model="date" :config="options" class="form-control-sm" :id="id" :disabled="disabled" :name="name"
                     @dp-change="updateValue" :placeholder="label"></date-picker>

        <p class="invalid-feedback d-block m-0" v-if="error" v-html="error"></p>
    </div>
</template>

<script>
    // Import this component
    import datePicker from 'vue-bootstrap-datetimepicker';

    export default {
        name: 'DateInputComponent',
        components: {
            datePicker
        },
        props: ['value', 'name', 'label', 'error', 'id', 'disabled'],
        data() {
            return {
                date: this.value,
                options: {
                    format: 'YYYY-MM-DD',
                    icons: {
                        time: 'far fa-clock',
                        date: 'far fa-calendar',
                        up: 'fas fa-arrow-up',
                        down: 'fas fa-arrow-down',
                        previous: 'fas fa-chevron-left',
                        next: 'fas fa-chevron-right',
                        today: 'fas fa-calendar-check',
                        clear: 'far fa-trash-alt',
                        close: 'far fa-times-circle'
                    }

                }
            }
        },
        watch: {
            value(val) {
                this.date = moment(val).format('YYYY-MM-DD');
            }
        },
        methods: {
            updateValue() {
                this.$emit('input', this.date);
            }
        }
    };
</script>
