<template>
    <div class="form-group">
        <label v-if="label" :for="id" v-html="label"></label>

        <input type="file" class="form-control form-control-sm" :id="id" :disabled="disabled" :name="name"
               @change="uploadFile" ref="selectFile">

        <p class="invalid-feedback d-block m-0" v-if="error" v-html="error"></p>
    </div>
</template>

<script>
    export default {
        name: 'FileInputComponent',
        props: ['value', 'name', 'label', 'error', 'id', 'disabled'],
        methods: {
            uploadFile(event) {
                this.$emit('input', event.target.files[0]);
            }
        }
    };
</script>
