<template>
    <div class="form-group">
        <label v-if="label" :for="id" v-html="label"></label>

        <input type="file" class="d-none" :id="id" :disabled="disabled" :name="name"
               @change="uploadFile" ref="selectFile">

        <div class="text-center">
            <div>
                <img :src="filePath" class="img-circle border d-inline-block" style="width: 200px; height: 200px;">
            </div>

            <button v-if="!uploadProgress" @click.prevent="$refs.selectFile.click()"
                    class="btn btn-sm btn-forest">Select Upload</button>

            <button v-if="clearUrl" @click.prevent="clearUpload"
                    class="btn btn-sm btn-danger ml-2">Clear Upload</button>

            <div class="progress" v-if="uploadProgress">
                <div class="progress-bar bg-primary" role="progressbar" :style="'width: '+uploadProgress+'%;'"
                     :aria-valuenow="uploadProgress" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress }}%</div>
            </div>
        </div>

        <p class="invalid-feedback d-block m-0" v-if="error" v-html="error"></p>
    </div>
</template>

<script>
    export default {
        name: 'ImageInputComponent',
        props: ['value', 'name', 'label', 'id', 'disabled', 'uploadUrl', 'clearUrl'],
        data() {
            return {
                error: null,
                uploadProgress: 0,
                selectedFile: null,
                filePath: this.value
            }
        },
        methods: {
            uploadFile(event) {

                this.$set(this.$data, 'error', null);

                this.selectedFile = event.target.files[0];
                const fd = new FormData();

                console.log(this.selectedFile);

                fd.append('file', this.selectedFile, this.selectedFile.name);

                axios.post(this.uploadUrl, fd, {
                    onUploadProgress: uploadEvent => {
                        this.$set(this.$data, 'uploadProgress', (uploadEvent.loaded / uploadEvent.total * 100))
                    }
                }).then(response => {
                    this.$set(this.$data, 'filePath', response.data)
                }).catch(error => {
                    this.$set(this.$data, 'error', error.response.data.errors.file[0]);
                }).finally(() => {
                    this.$set(this.$data, 'uploadProgress', 0);
                    this.$set(this.$refs.selectFile, 'value', null);
                });
            },

            clearUpload() {
                axios.post(this.clearUrl, {}).then(response => {
                    this.$set(this.$data, 'filePath', response.data)
                }).catch(error => {
                    this.$set(this.$data, 'error', error.response.data.message);
                });
            }
        }
    };
</script>
