<template>
    <div class="form-group">
        <label v-if="label" :for="id" v-html="label"></label>

        <input type="number" class="form-control form-control-sm" :id="id" :disabled="disabled" :name="name"
               v-bind:value="value" v-on:input="updateValue($event.target.value)" :placeholder="label">

        <p class="invalid-feedback d-block m-0" v-if="error" v-html="error"></p>
    </div>
</template>

<script>
    export default {
        name: 'NumberInputComponent',
        props: ['value', 'name', 'label', 'error', 'id', 'disabled'],
        methods: {
            updateValue(value) {
                this.$emit('input', value);
            }
        }
    };
</script>
