<template>
    <div class="form-group">
        <label v-if="label" :for="id" class="d-flex align-items-center">
            {{ label }}
            <i class="far ml-auto cursor-pointer" :class="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}" @click="hidePassword = !hidePassword"></i>
        </label>

        <input :type="hidePassword ? 'password' : 'text'" class="form-control form-control-sm" :id="id" :disabled="disabled" :name="name"
               v-bind:value="value" v-on:input="updateValue($event.target.value)" :placeholder="label">

        <p class="invalid-feedback d-block m-0" v-if="error" v-html="error"></p>
    </div>
</template>

<script>
    export default {
        name: 'PasswordInputComponent',
        props: ['value', 'name', 'label', 'error', 'id', 'disabled'],
        data() {
            return {
                hidePassword: true
            }
        },
        methods: {
            updateValue(value) {
                this.$emit('input', value);
            }
        }
    };
</script>
