<template>
    <div class="form-group">
        <label v-if="label" :for="id" v-html="label"></label>

        <select class="form-control form-control-sm" :id="id" :disabled="disabled" :name="name" v-on:change="updateValue($event.target.value)">
            <option :value="null" v-html="'Select ' + label"></option>
            <option v-for="(val, key) in options" :value="key" v-html="val" :selected="key == value"></option>
        </select>

        <p class="invalid-feedback d-block m-0" v-if="error" v-html="error"></p>
    </div>
</template>

<script>
    export default {
        name: 'SelectInputComponent',
        props: ['value', 'name', 'label', 'error', 'id', 'options', 'disabled'],
        methods: {
            updateValue(value) {
                this.$emit('input', value);
            }
        }
    };
</script>
