<template>
    <div class="form-group">
        <label v-if="label" :for="id" v-html="label"></label>

        <textarea type="text" class="form-control form-control-sm" :id="id" :rows="rows ? rows : 5" :disabled="disabled" :name="name"
                  v-bind:value="value" v-on:input="updateValue($event.target.value)" :placeholder="label"></textarea>

        <p class="invalid-feedback d-block m-0" v-if="error" v-html="error"></p>
    </div>
</template>

<script>
    export default {
        name: 'TextareaInputComponent',
        props: ['value', 'name', 'label', 'error', 'id', 'rows', 'disabled'],
        methods: {
            updateValue(value) {
                this.$emit('input', value);
            }
        }
    };
</script>

<style scoped>
    .form-control-sm {
        height: unset;
    }
</style>
